* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
}

#api-type {
	padding: 8px 0 8px 8px;
}

#api-type label {
	margin-left: 12px;
}

.operation {
	padding: 10px;
	border-top: 1px solid silver;
}

.operation:last-of-type {
	border-bottom: 1px solid silver;
}

.operation h1 {
	margin-top: 0;
	font-size: 1.5rem;
}

.operation .input {
	display: inline-block;
	margin-right: 64px;
}

.operation .input h1 {
}

.operation .input label {
	font-weight: bold;
	margin-right: 8px;
}

.operation .input input {
	width: 50px;
	margin-right: 16px;
	border: 1px solid silver;
	border-radius: 3px;
	padding: 2px 4px;
}

.operation .input button {
	border: 1px solid silver;
	color: white;
	background-color: steelblue;
	border-radius: 4px;
	box-shadow: 2px 2px 2px silver;
	padding: 4px 16px;
}

.operation .output {
	/* float: right; */
	padding: 8px 32px;
	background-color: lightblue;
	/* margin-top: 6px; */
	display: inline-block;
	/* margin-left: 16px; */
	font-size: 1.15rem;
	border-radius: 8px;

	display: none;
}

.operation .output label {
}

.operation .output .value {
	font-weight: bold;
}

